*{
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #252B42;
  max-width: 1440px;
  margin: auto;
}
a{
  color: white;
  text-decoration: none;
}
li{
  list-style: none;
}